    <%= form_for (@subscription || Subscription.new) do |f| %>
      <% if @subscription.present? %>
      <%= render :partial => "/shared/admin/error_messages", :locals => {:object => @subscription,:include_object_name => true} %>
      <% end %>
      <div class='field'>
        <%= f.required_label :given_name %>
        <%= f.text_field :given_name %>
      </div>
      <div class='field'>
        <%= f.required_label :family_name %>
        <%= f.text_field :family_name %>
      </div>
      <div class='field'>
        <%= f.required_label :email %>
        <%= f.text_field :email %>
      </div>
      <div class='actions'>
        <%= f.submit t('.send') %>
        <%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if RefinerySetting.find_or_set(:show_subscribe_privacy_link, false) %>
      </div>
    <% end %>

