    <%= form_for (@subscription || Subscription.new) do |f| %>
      <% if @subscription.present? %>
      <%= render :partial => "/shared/admin/error_messages", :locals => {:object => @subscription,:include_object_name => true} %>
      <% end %>
      <div class='field'>
        <%= f.required_label :given_name %>
        <%= f.text_field :given_name %>
      </div>
      <div class='field'>
        <%= f.required_label :family_name %>
        <%= f.text_field :family_name %>
      </div>
      <div class='field'>
        <%= f.required_label :email %>
        <%= f.text_field :email %>
      </div>
      <% unless Subscription.available_tags.empty? -%>
      <div class='field'>
        <%= label_tag 'Tags' %>
        <%= select_tag('subscription[tags]',Subscription.available_tag_options) %>
        <%
        #<ul>
        #<% Subscription.available_tags.each do |tag|
        #<li>
        #<%= label_tag tag
        #<%=
        #check_box_tag("subscription[tags][#{tag}]", value = "1", checked = false)
        #radio_button_tag("subscription[tags]", value = tag, checked = false)
        #
        #</li>
        #<% end
        #</ul>
        %>
      </div>
      <% end -%>
      <div class='actions'>
        <%= f.submit t('.send') %>
        <%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if RefinerySetting.find_or_set(:show_subscribe_privacy_link, false) %>
      </div>
    <% end %>

