<li class='clearfix record <%= cycle("on", "on-hover") %>'>
  <span class='title'>
    <%= link_to subscription.fullname, admin_subscription_url(subscription) %> - <%= link_to subscription.email, 'mailto:' + subscription.email %> <%= subscription.tags.join(', ') %>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag('delete.png'), admin_subscription_url(subscription),
              { :method => :delete,
                :confirm => t('shared.admin.delete.message', :title => subscription.fullname) },
                :class => "cancel confirm-delete",
                :title => t('admin.subscriptions.delete') -%>
  </span>
</li>

